.body {
background-color: #171717;
}
.wrapper{
width: 1460px;
margin-left: auto;
margin-right: auto;
display: block;
}
.wrapper_header {
width: 1460px;
margin-left: auto;
margin-right: auto;
display: block;
}
.image_header {
margin-top: 37px;
}

.button{
color: #E4B564;
background-color: #171717;
border: 1px solid #E4B564 ;
font-family: Ballet;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
display: inline;
float: right;
margin-top: 37px;
}
.title {
color: #FFF;
font-size: 50px;
font-style: normal;
font-family: 'Gilam';
 font-weight: 700; 
 padding-top: 89px;
padding-bottom: 43px;   
}
.content {
width: 1181px;
color: #FFF;
font-size: 20px;
font-style: normal;
font-family: 'Gilam';
font-weight: 700;
line-height: 28px;
margin-right: 238px;
padding-bottom: 41px;
}

.part-style{
display: grid;
align-items: center;
justify-content: center;
color: #FFF;
text-align: center;
font-family: 'Gilam';
font-size: 20px;
font-style: normal;
font-weight: 700;
}
.part1 {
display: grid;
grid-template-columns: repeat(6, 1fr);
grid-template-rows: repeat(2, 468px);
row-gap: 27px;
column-gap: 34px;
 margin: 41px 0 161px 0;
    

}
.part1-1 {
grid-column: 1 / span 2;
background-color:#634F2C ;
    

}
.part1-2 {
grid-column: 3 / span 2;
background-color: #B4A385;
    
}
.part1-3 {
grid-column: 5 / span 2;
background-color:#E4B564 ;
}

.part1-4 {
grid-column: 1 / span 3;
background-color: #635A4A;
    

}
.part1-5 {
grid-column: 4 / span 3;
background-color:#B08C4D ;

}
.part2 {
display: grid;
grid-template-columns: repeat(3, 467px);
grid-template-rows: 255px 31px 102px 102px 277px;
gap: 26px;
margin-top: 94px;
margin-bottom: 191px;
       
}
.part2-1 {
grid-row: span 2;
background-color:#0E0E0E ;
}
.part2-2 {
grid-row: span 3;
background-color:#242424 ;
}
.part2-3 {
background-color: #1F1F1F;
}
.part2-4 {
grid-row: span 3;
background-color: #0E0E0E;
}
.part2-5 {
grid-row: span 3;
background-color:#1F1F1F ;
}
.part2-6 {
grid-row: span 2;
background-color:#E4B564 ;
}
.part2-7 {
background-color:#0A0909 ;

}
.excavator_text {
color: #000;
font-family: Gilam;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal; 
padding-top: 47px;
padding-left: 52px;
        
}
.kamaz_text{
color: #FFF;
font-family: 'Gilam';
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-left: 52px;
        
}
.part-style2 {
color: #FFF;
font-family: 'Gilam';
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-left: 48px;
 padding-top: 44px;
        
}
.part-style3 {
color: #FFF;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-top: 44px;
padding-left: 52px;
}

.part3 {
display: grid;
grid-template-columns: 487px 487px 487px;
grid-template-rows: 381px 381px;
 margin-bottom: 239px;
}
.part3-1 {
background-color: #634F2C;
 }
.part3-2 {
 background-color: #E8D2AB;
 }  
.part3-3 {
 background-color: #E4B564;
 }
    
.part3-4 {
background-color: #E4B564;
}
    
.part3-5 {
 background-color: #B08C4D;
 }

.part3-6 {
 background-color: #634F2C;
}
 .section_3 {
 padding-top: 172px;
background-color: #0E0E0E;
}
.image_part3-1{
padding: 171px 151px 171px 151px;
}
.image_part3-2{
 padding: 61px 207px 0 217px;
}
.image_part3-2a {
width: 119px;
height: 53px;
padding: 11px 188px 9px 179px;
}
.content_part3-2 {
width: 326px;
height: 140px;
padding-left: 80px;
color: #FFF;
font-family: 'Gilam';
font-size: 22px;
font-style: normal;
font-weight: 500;
text-align: center;
}


.button2 {
color: #E4B564;
background-color: #171717;
border: 1px solid #E4B564;
font-family: 'Ballet';
font-size: 18px;
margin-left: 1355px;
margin-bottom: 55px;
}
.image_part3-3 {
padding: 169px 184px 169px 184px;
}
.image_part3-4 {
padding: 113px 213px 2px 212px;
}
.image_part3-4a {
padding-left: 151px;
padding-right: 151px;
padding-bottom: 171px;
}
.image_part3-5 {
padding: 169px 183px 169px 184px;
}
.image_part3-6 {
padding: 171px 151px 171px 151px;
}